main {
    grid-area: main;
    @include grid(2, true);

    > div#text{
        padding: 4rem; 
        @include flex(column);
        justify-content: space-around;
        flex-grow: 1;

        .title {
            font-size: 60px;
        }
    }

    figure{
        position: relative;
        min-width: 50px;
        min-height: 50px;
        width: auto;
        height: auto;

        > img{
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: contain;
        }
    }

    .btn {
        background: $theme-background-color;
        color: antiquewhite;
    }
}