:root {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;

    margin: 0; 
    padding: 0; 
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    background: #8b9fa0;
}

.card {
   padding: 3rem;  
   width: 300px;

   background: #e8be9b;
   border-radius: 1.5rem;
   box-shadow: 0 0 0.5rem;
}

.card > p {
    text-align: justify;
}

